{% include 'header.twig' with {'title': 'Запись On-Line'}  %}

<link rel='stylesheet' id='ident-owl-css' href='/css/online_record.css' type='text/css' />

</html> 
<div class="content">

    <div class='post-txt-block'>Расписание обновляется каждые 5 мин. Если вдруг у какого-либо доктора оно пропало и не высвечивается - обновите страницу</div>
    {% for doctor in doctors %}
        <div class="doc-content" doctor_id="{{doctor.Id}}">
            <img class="doc-foto" src="{{ doctor.image }}" alt="Фото врача"/>
            <div class="doc-info-rasp">
                <div class="doc-info"><h2><strong>{{ doctor.Name }}</strong><br></h2>
                    {{ doctor.jobs }}
                </div>
                <div class="raspisanie">	

                <div class="date-container dragscroll">

                    {% for date_s, values in doctorsTime[doctor.Id] %}
                            <div class="date-item {% if values %}haveFreeTime{% endif %}" doctor_id="{{doctor.Id}}" date_s="{{ date_s }}">{{ date_s|nl2br }}</div>
                            <div class="times" doctor_id="{{doctor.Id}}" date_s="{{ date_s }}" hidden>
                            </div>
                    {% endfor %}

                </div>

                {% for date_s, values in doctorsTime[doctor.Id] %}
                    <div class="owl-3 {% if loop.first %}first_block_doctor{% endif %}" doctor_id="{{doctor.Id}}" date_s="{{ date_s }}">
                        <p class="owl-3">
                            {% if values %}
                                {% for time in values %}
                                        <button class="zapis-online-popup " str-date-time="{{time['strDateTime']}}" start-date-time="{{ time['StartDateTime'] }}" doctor_id="{{doctor.Id}}">
                                            {{ time['start'] }}
                                        </button>
                                {% endfor %}
                            {% else %}
                                На выбранный день нет времени. Ближайшее время приёма:<br />
                                    <span class="go_to_date" doctor_id="{{doctor.Id}}" date_s="{{nearDateOfDoctor[doctor.Id]['date']}}">
                                        <button class="zapis-online-popup ">
                                            {{nearDateOfDoctor[doctor.Id]['date']}} {{nearDateOfDoctor[doctor.Id]['time']}}
                                        </button>
                                    </span>
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
                
                {% if not doctorsTime[doctor.Id] %}
                    <div class="owl-3">
                        <p class="owl-3" doctor_id="{{doctor.Id}}">На данный момент, онлайн-запись к доктору не ведётся. 
                            Вы можете <br> <a href="https://wa.me/+79880220098" target="_blank">задать вопрос администратору в WhatsApp</a></p>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>

    {% endfor %}

</div>



{% include 'widget/window_record.twig' %}





{% include 'footer.twig' %}
